body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: verdana;
}
a {
  color: aquamarine;
  font-size: 16px;
}
video {
  align-content: center;
}
h4 {
  color: gray;
  text-align: right;
}
